.cityDescriptionContainer {
  display: grid;
}

.subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 67px;
  margin-bottom: 12px;
}

@media (max-width: 800px) {
  .cityDescription {
    grid-row-start: 2;
    justify-self: center;
    align-self: end;
  }
  .subtitle {
    display: none;
  }
}
